* {
    box-sizing: border-box;
    
    color:white;
}



html {
    background-image: url("../images/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Aldrich', sans-serif;
}

#header {
    position: relative;
}

#header>h1 {
    display: inline-block;
    font-size: 3.0rem;
  margin: 20px;
}

#header>ul {

    display: inline-block;
    
    text-decoration: none;
}

#header>ul>li {
    
    display: inline-block;
    text-decoration-style: none;
    
}

.container {
    margin: 0 auto;
    position: relative;
    width: 1600px;
    display: grid;
    grid-template-columns: repeat(10 1fr);
    grid-template-rows: repeat(5 1fr);
    grid-gap: 10px;
    
}

.logo {
    display: inline-block;
    height: 5.0rem;
}
.queue {
    background-color: hsla(0, 0%, 41%, 0.24);
    padding: 10px;
}


#header {
    position: relative;
    grid-column: 1 / 11;
    grid-row: 1 / 2;
}

.billboard {
    position: absolute;
    visibility: hidden;

}

.billboard-show {
    top: 0;
    left: 0;
    height: 100%;
    grid-column: 1 / 11;
    grid-row: 1 / 6;
    background-color: hsla(0, 0%, 41%, 1.0);
    visibility: visible;
    font-size: 2.0rem;
    z-index: 2;
    padding: 20px;
    text-align: center;
    line-height: 3.0rem;
}

#combatant-area {
    grid-column: 1 / 7;
    grid-row: 1 / 6;
    justify-content: space-evenly;
   
}

.champion-box {
    grid-column: 8 / 11;
    grid-row: 1 / 2;
}

.scoreboard {
    position: absolute;;
    bottom: 40%;
    left: 40%;
    background-color: hsla(0, 0%, 41%, 0.24);
    width: 40%;
}

#wins {
    position: absolute;
    left: 25%;
    top: 0px;
}

#losses {
    position: absolute;
    right: 25%;
    top: 0px;
}

.defender-box {
   
    grid-column: 8 / 11;
    grid-row: 5 / 6;
}

.ready-defender {
    grid-column: 10 / 11;
    grid-row: 3 / 5;
}

#characterPen {
    width: 100%;
    place-content: center;
}

.battlefield {
    grid-column: 1 / 10;
    grid-row: 1 / 6;
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto 0;
}


.hero-card {
    
    display: inline-block;
    align-content: center;
    margin: 10px;
    height: 320px;
    width: 200px;
    position: relative;
    box-shadow: 3px 3px 3px #BB0B0A;
    transition: 3s;
}

.big-card {
    display: inline-block;
    align-content: center;
    margin: 20px;
    height: 640px;
    width: 400px;
    position: relative;
    box-shadow: 6px 6px 6px #BB0B0A;
    transition: 3s;
}

.hero-card>p {
    margin: 0;
}

.hero-card-dead {
    position: absolute;
    visibility: hidden;

}

.hero-card>img {
    height:200px;
    width: 100%;
}

.big-card>img {
    height: 400px;
    width: 100%
}

.hero-text {
    margin-top: 5px;
    padding: 0 auto;
    background-color: rgba(59, 57, 57, 0.267);
    height: 100px;
    text-align: center;
}

.big-card-text {
    margin-top: 5px;
    padding: 0 auto;
    background-color: rgba(59, 57, 57, 0.267);
    height: 200px;
    text-align: center;
}

.hero-text>p {
    margin: 0;
    padding: 3px;
}

.big-card-text> {
    margin: 0;
    padding: 10px;
}

.hero-text>h2 {
    font-size: 1.4rem;
}

.big-card-text>h2 {
    font-size: 3.0rem;
}

.versus {
    display: inline-block;
}

.action-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width: 20%;
}

.action-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.action-button:active {
    background-color: #4CAF50;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

